.features{
    text-align: center;
    // background: $darkBlueBack;
    &__grid{
        display: grid;
        
        @include breakpoint-up(medium){
            width: 80%;
            grid-template-columns: repeat(2,1fr);
            // justify-content: space-around;
            align-items: center;
            width: 75%;
            margin: 0 auto;
        }
    }
}
.feature{
    @include breakpoint-up(medium){
        width: 80%;
        margin: 0 auto;
    }
    padding-bottom: 5rem;
    h3{
        padding-bottom: 1.25rem;
    }
    img{
        padding-bottom: 2.25rem;
    }
    p{
        width: 93%;
        margin: 0 auto;
        opacity: 0.95;
    }
}